.card {
  border: 5px solid #1cff1c;
  background-color: rebeccapurple;
  margin: 0.5rem;
  padding: 2rem;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul[role='list'] {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

img {
  width: 10rem;
  height: 10rem;
  margin: 0.5rem 0;
}
