* {
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  background-color: black;
}

h1 {
  font-size: 4rem;
  margin: 3rem;
  text-align: center;
  color: lime;
}
